# This workflow will install Python dependencies, run tests and lint with a single version of Python(v3.10). 
# Please uncomment the lines if you also want to run the lint with flake8.
# The test triggers when there is a pull request to the main branch.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        conda install -c conda-forge rdkit>=2023.03.1
        pip install --editable .
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
          pip install -e .
          pip install tox
          tox
